.App {
    margin: 0 auto;
    width: 800px;
    /* background-color: beige; */
    text-align: center;
}

.playercard {
    background: lightskyblue;
    margin: 15px;
    border-radius: 10px;
}

.dark-mode {
    color: #fff;
    background-color: #313843;
}
